---
import "../styles/global.css";
import "@fontsource/kumar-one";

const {
	title = "Beanlea Web Development",
	description = "Beanlea Web Development - Cairns, Australia",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<meta
	name="keywords"
	content="Web, Website, Developer, Web Design, Web Development, Cairns, Queensland, Australia, Javascript, NextJS, Astro, AstroJS, Make A Website"
/>
<meta name="og:title" property="og:title" content={title} />
<meta name="og:description" property="og:description" content={description} />
<meta name="og:url" property="og:url" content={Astro.url.href} />
<meta name="og:type" property="og:type" content="website" />
<meta name="og:image" property="og:image" content="/assets/ogimage.jpg" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<script is:inline>
	const theme = (() => {
		if (
			typeof localStorage !== "undefined" &&
			localStorage.getItem("theme")
		) {
			return localStorage.getItem("theme");
		}
		if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
			return "dark";
		}
		return "light";
	})();
	if (theme === "light") {
		document.documentElement.classList.remove("dark");
	} else {
		document.documentElement.classList.add("dark");
	}
	window.localStorage.setItem("theme", theme);
</script>
